:root {
    --hera-main-color: #8b645a;
    --hera-hover-color: #8b645a;
    --hera-color-white: #fff;
    --hera-links-color: #d35400;
    --hera-background-white: #fff;
    --hera-background-gray: #f5f5f5;
    --hera-background-gray-lightest: #fafafa;
    --hera-warning-color: rgb(201, 74, 74);
    --hera-fade: linear-gradient(0deg, #c0a294 0%, #c0a294 100%),
        linear-gradient(0deg, #a69a90 0%, #a69a90 100%),
        linear-gradient(0deg, #efe9e1 0%, #efe9e1 100%), #f5f5f5;

    --hera-column-width: 742px;
    --hera-article-width: 828px;
    --hera-header-width: 25%;

    --hera-basic-font-size: 16px;
    --hera-text-color: rgba(0, 0, 0, 0.86);
    --hera-text-light: rgba(0, 0, 0, 0.68);
    --hera-text-gray:   rgba(28, 28, 28, 0.80);
    --hera-text-gray-lightest: rgba(0, 0, 0, 0.55);

    --hera-border-color: rgba(0, 0, 0, 0.1);
    --hera-border-color-light: rgba(0, 0, 0, 0.05);

    --hera-background-color-white: #fff;

    --hera-article-hero-font-size: 2rem;

    --hera-border-radius: 999rem;

    --hera-thumbnail-width: 96px;
    --hera-thumbnail-height: 96px;

    --hera-font-size-smallest: 15px;
}

@media (prefers-color-scheme: dark) {
    .auto {
        --hera-main-color: rgba(253, 186, 116, 1);
        --hera-hover-color: rgba(255, 237, 213, 1);
        --hera-text-color: #a1a1aa;
        --hera-text-light: rgba(161, 161, 170, 1);
        --hera-text-gray: rgba(113, 113, 122, 1);
        --hera-text-gray-lightest: rgba(113, 113, 122, 0.95);

        --hera-background-white: #1e1e1e;
        --hera-background-gray: #000;
        --hera-background-white-opacity: rgba(
            30,
            30,
            30,
            var(--farallon-background-opacity)
        );
        --hera-background-gray-lightest: #121212;

        --farallon-griedent-start: #007cf0;
        --farallon-griedent-end: #00dfd8;

        --hera-border-color: rgba(63, 63, 70, 0.6);
        --hera-border-color-light: rgba(63, 63, 70, 0.4);

        .comment-form .submit {
            background-color: rgba(63, 63, 70, 1);
            &:hover {
                background-color: rgba(82, 82, 91, 1);
            }
        }

        .post--single__title,
        .post--item .post--title {
            color: rgba(244, 244, 245, 1);
        }

        .main {
            &::after {
                display: none;
            }
            box-shadow: hsla(240, 5%, 84%, 0.2) 0 0 0 1px;
        }

        .archive--list .archive--item {
            &:hover {
                background: linear-gradient(180deg, #1e1e1e, #121212);
            }
        }

        .graph blockquote,
        .graph ol li::before {
            background: linear-gradient(180deg, #1e1e1e, #121212);
        }

        .nav-links .page-numbers.current:after,
        .nav-links .post-page-numbers.current:after {
            background-image: none;
        }

        .doulist-item {
            background-color: rgba(63, 63, 70, 0.15);
        }

        .comment-form {
            input,
            textarea {
                background-color: rgba(63, 63, 70, 0.15);
                border-color: rgba(63, 63, 70, 1);
            }
        }
    }
}

.dark {
    --hera-main-color: rgba(253, 186, 116, 1);
    --hera-hover-color: rgba(255, 237, 213, 1);
    --hera-text-color: #a1a1aa;
    --hera-text-light: rgba(161, 161, 170, 1);
    --hera-text-gray: rgba(113, 113, 122, 1);
    --hera-text-gray-lightest: rgba(113, 113, 122, 0.95);

    --hera-background-white: #1e1e1e;
    --hera-background-gray: #000;
    --hera-background-white-opacity: rgba(
        30,
        30,
        30,
        var(--farallon-background-opacity)
    );
    --hera-background-gray-lightest: #121212;

    --farallon-griedent-start: #007cf0;
    --farallon-griedent-end: #00dfd8;

    --hera-border-color: rgba(63, 63, 70, 0.6);
    --hera-border-color-light: rgba(63, 63, 70, 0.4);

    .doulist-item {
        background: rgba(63, 63, 70, 0.15);
    }

    .comment-form .submit {
        background-color: rgba(63, 63, 70, 1);
        &:hover {
            background-color: rgba(82, 82, 91, 1);
        }
    }

    .tag--list {
        a {
            background-color: rgba(39, 39, 42, 1);
            color: #71717a;
            --tw-ring-shadow: 0 0 0 calc(1px + 0px) hsla(0, 0%, 100%, 0.1);
            box-shadow: 0 0 #0000, var(--tw-ring-shadow),
                var(--tw-shadow, 0 0 #0000);
            &:hover {
                --tw-ring-shadow: 0 0 0 calc(1px + 0px) hsla(0, 0%, 100%, 0.2);
            }
        }
    }

    .post--single__title,
    .post--item .post--title {
        color: rgba(244, 244, 245, 1);
    }

    .main {
        &::after {
            display: none;
        }
        box-shadow: hsla(240, 5%, 84%, 0.2) 0 0 0 1px;
    }

    .archive--list .archive--item {
        &:hover {
            background: linear-gradient(180deg, #1e1e1e, #121212);
        }
    }

    .graph blockquote,
    .graph ol li::before {
        background: linear-gradient(180deg, #1e1e1e, #121212);
    }

    .nav-links .page-numbers.current:after,
    .nav-links .post-page-numbers.current:after {
        background-image: none;
    }

    .comment-form {
        input,
        textarea {
            background-color: rgba(63, 63, 70, 0.15);
            border-color: rgba(63, 63, 70, 1);
        }
    }
}
