.article {
    &--headline {
        font-size: var(--hera-article-hero-font-size);
        margin-top: 0;
        line-height: 1.3;
        margin-bottom: 0px;
        font-weight: bold;
        & + .article--meta {
            margin-top: 10px;
        }
    }

    &--body {
        margin-bottom: 15px;
        font-size: 16px;
    }

    &--subtitle {
        font-size: 20px;
        color: var(--hera-text-gray-lightest);
        line-height: 1.2;
        margin-bottom: 10px;
    }

    &--location {
        color: var(--main-color);
        svg {
            fill: var(--main-color);
            width: 16px;
            height: 16px;
            margin-right: 5px;
        }
        display: flex;
        align-items: center;
        font-size: 14px;
    }

    &--meta {
        font-size: 14px;
        color: var(--hera-text-gray);
        line-height: 1.6;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        .author {
            display: flex;
            align-items: center;
            margin-right: 10px;
            color: var(--hera-text-color);
            &:hover {
                text-decoration: underline;
            }
            img.avatar {
                width: 30px;
                height: 30px;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
        // .avatar {
        //     width: 30px;
        //     height: 30px;
        //     border-radius: 50%;
        //     margin-right: 10px;
        // }
    }

    &--subline {
        font-size: 20px;
        color: var(--hera-text-gray-lightest);
        line-height: 1.3;
        margin-bottom: 5px;
    }

    &--header {
        margin-bottom: 15px;
        padding-top: 25px;
    }

    &--tags {
        padding: 20px 0;
        a {
            font-size: 14px;
            color: var(--hera-text-gray);
            margin-right: 5px;
            background-color: var(--hera-background-gray);
            padding: 3px 20px;
            border-radius: 999rem;
            &:hover {
                color: var(--hera-hover-color);
            }
        }
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .article {
        &--headline {
            font-size: 24px;
        }
        &--subtitle {
            font-size: 18px;
        }
        &--subline {
            font-size: 16px;
        }

        &--header {
            padding-top: 10px;
        }

        &--body {
        font-size: 16px;
    }

    &--tags {
    flex-wrap: wrap; /* 允许换行 */
      gap: 5px;

    
}
    }
}

.related--posts {
    font-size: 14px;
    &__title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
    }
}

.posts {
    padding-top: 25px;
}

.search--title {
    text-align: center;
    font-size: 14px;
    color: var(--hera-text-light);
    padding-top: 25px;
    & + .posts {
        padding-top: 0;
    }
}

.sticky--post {
    display: flex;
    align-items: center;
    color: var(--hera-text-gray-lightest);
    font-size: 13px;
    user-select: none;
    margin-bottom: 3px;
    svg {
        margin-right: 8px;
    }
}

.status--icon {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    svg {
        fill: var(--hera-main-color);
        height: 28px;
        width: 28px;
    }
}

.link2comment {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--hera-text-gray);
    svg {
        fill: var(--hera-text-gray);
        margin-right: 5px;
    }
    &:hover {
        color: var(--hera-hover-color);
    }
    margin-left: auto;
}

.post--single {
    &__action {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0 0px;

        .button--like {
            svg {
                fill: var(--hera-text-gray);
            }

            &:hover,
            &.is-active {
                svg {
                    fill: var(--hera-hover-color);
                }
            }
        }
    }
}

.button--like {
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: flex;
    align-items: center;
    .count {
        font-size: 14px;
        margin-left: 3px;
        font-weight: bold;
        color: var(--farallon-text-gray);
    }
    &.is-active {
        svg {
            fill: var(--hera-main-color);
        }

        .icon--active {
            display: block;
        }

        .icon--default {
            display: none;
        }
    }

    .icon--active {
        display: none;
    }

    .icon--block {
        display: none;
    }
}

.toc {
    font-size: 14px;
    padding: 10px 15px;
    background-color: var(--hera-background-gray);
    border-radius: 10px;
    margin-bottom: 20px; 
    summary {
        cursor: pointer;
    }
    &-title {
        font-weight: 600;
    }
    
    ul {
        padding-left: 10px;
        margin-bottom: 10px;
        li {
            &::before {
                content: "·";
                margin-right: 5px;
            }
            & > ul {
                margin-left: 10px;
                font-size: 12px;
            }
        }
    }
}

.translatedCard {
    margin-bottom: 20px;
    font-size: 14px;
    h4 {
        font-weight: 700;
    }
    ul {
        list-style: square;
        margin-left: 30px;
        li {
            a {
                text-decoration: underline;
                &:hover {
                    color: var(--hera-hover-color);
                }
            }
        }
    }
}
