.navbar {
    width: var(--hera-header-width);
    position: relative;
    flex: 0 0 auto;
    box-shadow: -1px 0 1px -2px rgba(0, 0, 0, 0.9);
    background-color: var(--hera-background-gray-lightest);
    box-sizing: border-box;
    transition: 0.5s width;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;

    .is-readingMode & {
        width: 0;
    }

    .is-singleColumn &,
    .page-template-template-map &,
    .page-template-template-wide & {
        width: 100%;
        z-index: 100;
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.1);
        background-color: var(--hera-background-white);
        padding: 30px 0;
        align-items: center;
        text-align: center;

        .avatar--wrapper {
            margin-right: auto;
        }

        .avatar {
            transform: translateX(0);
        }

        .site--title {
            font-size: 20px;
            margin-top: 10px;
            margin-bottom: 5px;
            line-height: 1;
        }

        .widget--links {
            display: flex;
        }

        .menu-item {
            padding: 5px 15px;
        }
    }

    .avatar--wrapper {
        position: relative;
        margin-left: auto;
        display: flex;
        width: 104px;

        .status--img {
            position: absolute;
            bottom: 0;
            right: 0;
            box-shadow: 0px 1px 0px 0px #1f23280a;
            background-color: var(--hera-background-white);
            border-radius: 100%;
            width: 24px;
            height: 24px;
            border: 1px solid #9a6700;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .avatar {
        border-radius: 100%;
        width: 104px;
        height: 104px;
        object-fit: cover;
        border: 4px solid var(--hera-background-white);
        box-shadow: 0px 0px 12px var(--hera-border-color-light);
        box-sizing: border-box;
        position: relative;
        transform: translateX(20px);
    }

    .site--title {
        margin-top: 10px;
        margin-bottom: 5px;
        line-height: 1.4;
        font-size: 24px;
    }

    .site--description {
        margin: 0 0 5px;
        color: var(--hera-text-light);
        text-transform: capitalize;
        line-height: 1.3;
    }

    .site--nav {
            font-size: 18px;
        }

    padding-top: 50px;
}




@media (max-width: 1280px) {
    .navbar {
        width: 25%;
    }
}

@media (max-width: 768px) {
    .navbar {
        width: 35%;
        align-items: flex-end;
        text-align: right;
    }

    .avatar {
        width: 64px;
        height: 64px;
        border-width: 2px;
        transform: translateX(20px);
    }

    .site--title {
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .site--description {
        font-size: 16px;
    }

    .avatar--wrapper {
        margin-left: auto;
    }

    .widget--links {
        margin-top: 10px;
    }
}


@media (max-width: 720px) {
    .navbar {
        width: 100%;
        align-items: center;
        padding-top: 15px;
        text-align: center;

        .avatar {
            transform: translateX(0);
            width: 64px;
            height: 64px;
            border-width: 2px;
        }

        .site--title {
            font-size: 20px;
            margin-top: 5px;
        }

        .site--description {
            font-size: 14px;
        }

        .avatar--wrapper {
            margin-left: 0;
            width: 64px;
        }

        .js-contentFixed {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}

.widget--links {
    margin-top: 10px;
    padding-bottom: 5px;

    .menu-item {
        padding: 3px 0;
        color: var(--hera-text-light);

        &:hover {
            color: var(--hera-text-color);
        }
    }
}

.close--icon {
    display: none; /* 默认隐藏 */
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--hera-text-color);
    cursor: pointer;
}

.site--nav.is-active .close--icon {
    display: block; /* 菜单激活时显示 */
}

.mask {
    display: none; /* 默认隐藏 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.menu--actived .mask {
    display: block; /* 菜单激活时显示 */
}



@media (max-width: 720px) {
    .widget--links {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 0;
        padding-bottom: 0px;

        .menu-item {
            padding: 5px 8px;
            font-size: 12px;
        }
    }

    .js-contentFixed {
        padding: 0;
    }
}

.search--area {
    padding-top: 5px;
    .search-form {
        margin-left: auto;
        .search-label {
            display: flex;
            align-items: center;
            padding: 0 15px;
            svg {
                fill: rgba(107, 107, 107, 1);
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        display: flex;
        justify-content: flex-end;
        border-radius: 999rem;
        background-color: var(--hera-background-gray);

        .search-field {
            border: 0;
            font-size: 12px;
            padding: 10px 12px;
            line-height: 1.6;
            width: 280px;
            background-color: rgba(0, 0, 0, 0);
            &:focus {
                // background-color: #f0f0f0;
                color: var(--hera-text-color);
            }
        }

        .search-submit {
            display: none;
        }
    }

    & + .articleContainer {
        padding-top: 20px;
    }
}

.nav--clicker {
    cursor: pointer;
}

.is-readingMode {
    .nav--clicker {
        transform: rotate(180deg);
    }
}

.moblie--icon {
    display: none;
    width: 92%;
    position: relative;
    z-index: 1000;
}

.search--area {
    display: flex;
    align-items: center;
    .search-form {
        margin-left: auto;
    }
    margin-left: auto;
    margin-right: auto;
    max-width: var(--hera-column-width);
    width: 92%;
}

@media screen and (max-width: 720px) {
    .search--area {
        padding-top: 20px;
        .search-form {
            margin-left: auto;
            margin-right: auto;
            // max-width: 100%;
        }
        display: none;
        .search--actived & {
            display: flex;
        }
    }

    .widget--links {
        display: flex;
        flex-direction: column;
    }

    .js-contentFixed {
        position: static;
    }
    .menu--actived {
        overflow: hidden;
        .mask {
            position: fixed;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 500;
            left: 0;
            bottom: 0;
            right: 0;
            top: 0;
        }
    }

    .site--nav {
        z-index: 1000;
        display: flex;
        box-sizing: border-box;
        padding: 20px;
        border-left: 1px solid var(--main-border-color);
        flex-direction: column;
        line-height: 1.3;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 18px;
        position: relative;
        background-color: #fff;
        transform: translate3d(105%, 0, 0);
        &.is-active {
            transition: 0.5s;
            transform: translate3d(0, 0, 0);
        }
        a {
            padding: 5px 0;
            margin: 0 0 10px;
            width: 100%;
            display: flex;
            align-items: center;
            .text {
                align-self: flex-start;
                display: flex;
                width: 100%;
                align-items: center;
                svg {
                    margin-left: auto;
                }
            }
            //display: none;
        }
        //  display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 75%;
        right: 0;
        background-color: #fff;
        overflow-y: auto;
    }

    .site--info {
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: 0px;
    }

    .site--description {
        display: none;
    }

    .moblie--icon {
        display: flex;
        justify-content: space-between;
    }
}

