{{ define "body_classes" }}page-about{{ end }}
{{- define "main" }}
<div class="pagetitle">
  微影随行：“扑捉人间生活气息，记录与分享美好的瞬间点滴，

以记录生活为主，分享平凡生活中的奇文趣事！”。
  
</div>
<div class="about-img">
  <img src="" class="img-hide" />
  <div class="about-img-text">Hello 2024, Hello Friend</div>
  <div class="about-img-intro"></div>
</div>
<div class="about-text">
本站若无特殊说明，其作品皆为原创，转载请说明出处哈。
</div>

<div class="about-text">
如果你也喜欢这博客主题，可关注原作者<a href="https://koobai.com">空白生活</a>的博客
</div>
<script src="/js/about-photo.js"></script>
{{- end }}