{{ define "body_classes" }}page-archive{{ end }}
{{ define "main" }}
<link rel="stylesheet" href="{{ "css/archives.css" | relURL }}">
<article class="article article-type-post">
    <div class="article-inner">
        <div class="post-archive">
            <h3>共计 {{ len (where .Site.RegularPages "Section" "posts") }} 篇日志</h3>
            <div class="category-list">
                <h3>分类目录</h3>
                <ul>
                    {{ range .Site.Taxonomies.categories }}
                    <li>
                        <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a> ({{ .Count }})
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{ range (where (where .Site.Pages "Type" "posts") "Kind" "page").GroupByDate "2006" }}
            <h2>{{ .Key }}</h2>
            <ul class="listing timeline">
                {{ range .Pages }}
                <li>
                    <div class="timeline-date">{{ .Date.Format "01-02" }}</div> <!-- 修改日期格式 -->
                    <div class="timeline-content">
                        <a class="archive-title" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
                    </div>
                </li>
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</article>
{{ end }}