<!-- 移动端和桌面端共用部分模块 -->
<h2 class="archive--title__year">{{ .Title }}</h2>
<h4 class="archive-title">共计 {{ len (where .Site.RegularPages "Section" "post") }} 篇日志</h4>
<div class="category-list">
    <ul>
        {{- range $taxonomy := .Site.Taxonomies.categories -}}
            {{ if ne .Page.Title "Memo" }} <!-- 过滤掉分类名称为 "memo" 的分类 -->
                <li>
                    <a href="/categories/{{ $taxonomy.Page.Title | urlize }}">
                        <span>#{{ $taxonomy.Page.Title }}</span>
                        <span>({{ $taxonomy.Count }})</span>
                    </a>
                </li>
            {{ end }}
        {{- end -}}
    </ul>
</div>