<div class="friends-container">
    <div class="friends-post">
      <!-- 头像和昵称 -->
      <div class="friends-header">
        {{ if .Params.avatar }}
          <img src="{{ .Params.avatar }}" alt="{{ .Params.author }}" class="friends-avatar">
        {{ else }}
          <img src="/images/avatar.jpeg" alt="Avatar" class="friends-avatar">
        {{ end }}
        <div class="friends-meta">
          <span class="friends-author">{{ .Params.author | default "Welog" }}</span>
          <span class="friends-time"><time datetime='{{.Date.Format "2006-01-02 15:04:01" }}'
                        class="humane--time">{{ .Date
                        | time.Format
                        ":date_long"
                        }}</time></span>
        </div>
        <!-- 装饰性... -->
        <a href="{{ .RelPermalink }}" class="friends-more">•••</a>
      </div>
      <span class="friends-title">{{ .Title | truncate 30 }}</span>
      <!-- 内容 -->
      <div class="friends-content">
        {{ .Content | plainify | truncate 55 }}
      </div>

      <!-- 图片 -->
      {{ if .Params.images }}
        <div class="friends-images">
          {{ range .Params.images }}
            <img src="{{ . }}" alt="Post Image">
          {{ end }}
        </div>
      {{ end }}

      <!-- 操作 -->
      <div class="friends-actions">
        <!-- 分类 -->
        {{ if .Params.categories }}
          {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
          {{ end }}
        {{ end }}

        <!-- 标签 -->
        {{ $tags := (.GetTerms "tags") }}
        {{ if gt (len $tags) 2 }}
          {{ range (first 2 $tags) }}
            <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
          {{ end }}
        {{ else }}
          {{ range $tags }}
            <a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  
</div>